<!DOCTYPE html>
  <html>
    <head>
    	<!--Import Google Icon Font-->
    	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    	<!-- Compiled and minified CSS -->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet"> 
    	

    	<!--Let browser know website is optimized for mobile-->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    	<style type="text/css">
    		@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
    		#quote{
    			font-family: 'Dancing Script', cursive;
    			color: #2e2e2e;
    			        text-shadow: 0px 0px 8px rgba(50, 50, 50, 0.25);
    			      }
    		}
    	</style>
    </head>

    <body class=" section blue lighten-5">
    	
	    	<div class="container" >
		    	<div class="row">
		    		<div class="section col s12 m6 l6">
		    			<div class=" section container "><img class="responsive-img z-depth-5" src="https://lh3.googleusercontent.com/pJVbbj3EoW8jLM1BDcIPUk5dLgaR0VpPHP7OuiLDgbCWp7rV-46IIBEvLP8zYXo4j8K6KOpKwDHKkXNbYzsr3kxo1ZoOsYjOFi9AzbsLJRMBypLRizNCL7RRZZK-IkMRQ00awG7Xi85LtemFEbYf4dC_DmRB1WISDWUIuGj0AFnvjbf9Ivhh8eHEnnUWDXUsnr9BnOF7L2f3yPYoUzvf47CA5rbffYBp2zXYCTHACYWJYe_jfbKFMVel3rmJMiaTL94ranDXpbaXSxGYNjWlN1p-EbsSagjMpM4CaKwZRuQ2KZViypk8svPthLvsCfuMgqIGFIyZ91aA9C0GyWjaRc8SKNFnkIjupIXUE8-5tVvyTWMFLdD7rNSnvZbvZxXUbvlQenyAZfNyrqGdUENbPFDSAAfssmPbw3Nr7ovIu3-xKKWNcd8lFy2FyQuq8Sdwyu2Ep2aQ_a4sbh89asBXQ5gQ83UI6XS7BZGi696pw7arslLRqtRUatFqLQuy6BEoevBtbWn1b4OBPtwazxwAzlSOcNQ5EC_oXWahSfAcBSpTy9tve_cMOGrN20PK-txOrQ1FhWJhsGoa6g5fxcgrPOeBlCQULQNc5704AkJQMAWtimI9q_Bh43Auf5hywKHgwMq0dUeVpvpkFjdlagC3bUz4FEaPvpXjBzLbUIpJdz7Wz7jFkKthrEKpiSIkNA=w581-h615-no?authuser=0"> </div> 
		    			<div class="center-align container"><a class="center-align waves-effect waves-light btn modal-trigger" href="#modal1">comment</a></div> 
		    		</div>	
		    		
		    		<div class="section col s12 m6 l6">
		    			<div class="card-panel">
			    			<h3 class="flow-text center-align" id="quote"> "Fuck this shit" </h3>
			    			<div class="container center-align flow-text"><h5>-Bhaskar Dutta</h5></div>	
				    		<div class="container">
				    			<div class="chip">#memeface</div>
				    			<div class="chip">#respect</div>
				    		</div>
		    			</div>
			    		<div class="container ">
			    			<h3 class="flow-text center-align" id="quote">"Bhaskar You will be remembered like we remember starlord singing in front of Ronan."</h3>
			    			<h3 class="flow-text center-align">-Tridib</h3>
			    		</div>
		    		</div>
		    	</div>
	    	</div>
    	</div>
    	<!-- Modal Structure -->
    	<div id="modal1" class="modal">
    	    <div class="modal-content">
    	        <div class="row">
    	            <div class="input-field col s12">
    	                	<input placeholder="#bokachoda #gandu" id="tag" type="text" class="validate">
    	                	<label for="tag">Add hashtag</label>
    	            </div>
    	        </div>
    	        <div class="row">
    	            <div class="input-field col s12">
    	                	<input placeholder="go fook yourself" id="comment" type="text" class="validate">
    	                	<label for="comment">Add comment</label>
    	            </div>
    	        </div>
    	    </div>
    	    <div class="modal-footer">
    	      <a href="#!" class="modal-close waves-effect waves-green btn-flat">post</a>
    	    </div>
    	  </div>

      <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
    	    $('.parallax').parallax();
    	  });
    	$(document).ready(function(){
    	    $('.modal').modal();
    	  });
    </script>
    </body>
  </html>
    

